* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  text-align: center;
  padding-top: 250px;
}
.header-content {
  width: 50vw;
  margin: 0 auto;
}
.header-content div:first-child {
  animation: fadeIn 1s forwards;
}
.header-content div:nth-child(2) {
  animation: fadeIn 1s 1s forwards;
}
.header-content div:nth-child(3) {
  animation: fadeIn 1s 2s forwards;
}

.header-content div {
  margin: 20px;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 100;
    transform: translate(0px);
  }
}
